body {
	background-color: rgba(200,200,200,1);
	font-size: 150%
}
div {
	width: 98%;
	margin: 0 auto;
}

#search-form {
	padding: 0;
	padding-top: 20px;
	padding-bottom: 10px;
	height: 90px;
	background: rgba(0, 0, 20, 0.4);
	border-radius: 10px;
}

label, input {
	height: 50px;
	font-size: 25px;
	vertical-align: middle;
}
.show {
	background-color: rgba(255, 245, 238, 0.7); 
}
#saved-co{
	height: 800px;
	background-image: url("coffee.png");
	background-size: cover;
	font-size: 120%;
	padding: 10px 0 0 25px;
}
#saved-co h3{
	color: white;
	font-family: helvetica;
}

#saveCo, .focus-header {
	text-align: center;
}